@import '../../scss/colors';
@import '../../scss/mixin';

.btn {
  @include font(1.6rem, 2.4rem, 500);
  background-color: $primary-btn;
  border: none;
  width: 36.9rem;
  height: 5.9rem;
  border-radius: 0.9rem;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disabled {
  background-color: $disabled-btn;
  pointer-events: none;
}
