@import '../../scss/colors';
@import '../../scss/mixin';

.contentContainer {
  display: grid;
  grid-template-rows: max-content max-content 1fr;
  padding: 2.4rem 4.1rem 4.2rem 5rem;
  gap: 2.4rem;
  height: 90vh;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr max-content max-content;
  gap: 2.3rem;
}

.h2Text {
  @include font(2.8rem, 4.2rem, 600);
  color: #282828;
  margin: 0;
}

.recentDesc {
  @include font(1.8rem, 2.7rem, 600);
  color: #95999e;
  margin: 0 0 1rem 0;
}

.transactionCardContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
