$primary-btn: #4d47c3;
$disabled-btn: #cac8ff;
$input-bg-color: #f0efff;
$input-font-color: #a7a3ff;
$input-invalid-bg-color: #feefe7;
$primary-red: #f60707;
$primary-green: #33a720;

$lighter-grey: #b5b5b5;
$lighter-lighter-gray: #b0b0b0;
$gray: #95999e;
$purple: #4d47c3;
